@import "./css/default.css";
@import "./css/navbar.css";
@import "./css/buttons.css";
@import "./css/animation.css";

@import "./css/print.css";



/* Onboarding + navbar section */

#onboarding {
  background-image:url(../res/background.jpg);
  background-repeat:repeat;
  background-position: center top;

  justify-content: center; 
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 0.5vh;
  align-items: center;
  display: flex;
}

#onboarding > img {
  max-width: 80%;
  width: 65vh;
  margin-bottom: 9vh;
}




/* Home + about session */

@media only screen and (min-width: 800px) {
  #about {
    float:left;
    margin-right: 30px;
    width: 30vw;
  }
}
#about p {
  line-height: 1.34em;
}

#home {
    background-color: #f1f1f1;
}

#home iframe {
    float: left;
    margin-left: 23px;
    border:none;
    overflow:hidden;
}

#about, iframe {
  animation: fadein 1.5s;
}




/* Archivio */

@media screen and (orientation:portrait) { 
  #archivio {
    min-height: 75vh;
    padding-bottom: 5vh;
  }

}


#archivio > * {
  width: calc(30vw + 453px) !important;
}


#archivio select {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px 10px;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
}


/* From https://www.w3schools.com/css/css_table.asp */
#archivio table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#archivio table, #archivio td, #archivio tr, #archivio tbody {
  width: 100%;
}



#archivio td, #archivio th {
  border: 1px solid rgb(179, 179, 179);
  padding: 1em;
  width: 100%;
}



#archivio tr:nth-child(even){background-color: #f2f2f2;}

#archivio tr:hover {background-color: #ddd;}

#archivio th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.tabordion {
  color: #333;
  font-family: arial, sans-serif;
  margin: auto;
  width: 80%;
  flex-grow: 1;
}

.tabordion input[name="sections"] {
  position: absolute;
  visibility: hidden;

}

.tabordion section {
  display: block;
  float: right;
}

.tabordion .sections {
  display: block;

  float: right;
}
.tabordion .labels label {
  user-select: none;
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 11px 20px;
}

.tabordion section article {
  display: none;
  left: 230px;
  width: calc(30vw + 248px);
  padding: 0 0 0 21px;
  float: right;
}

.tabordion .labels {
  float: left;
  width: 180px;
  display: block;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: inline-block;
  left:-229px;
  position: relative;
  top: 0;
  width: 220px;
  z-index:1;
  margin-bottom: 70px;
  clear: both;

}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: inline-block;
  animation: fadein 1s;
}


.labels label:hover {
  background-color: #888;
}

@media only screen and (max-width: 800px), print {
  #archivio > * {
    width: 100% !important;
  }

  #archivio .sections, table, tbody, td, #archivio article, #archivio section {
    float: none;
    
    width: 100%;
    padding: 0;
    margin-top: 15px;
    min-width: 0;

  }

  #archivio article:after {
    display: none !important;
  }
}

@media only screen and (max-width: 415px) {

  #archivio .sections, table, tbody, td, #archivio article, #archivio section {
    float: none;
    
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }

}



/* Footer */

#footer {
  min-height: calc(15vh - 7rem);
  height: 3rem;
  background-color: #155cac;
  padding-top: 3rem;
  padding-bottom: 4rem;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;

}




/* Dark theme */
.only-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .only-dark {
    display: block;
  }

  .only-light {
    display: none;
  }

  html, body {
    background-color: #000;
  }

  #home {
    background-color: rgb(20, 20, 20);
    color: #fff;
  }

  h1, h2 {
    color: #fff;
  } 

  a {
    color: #65adff
  }

  #votazioni {
    background-color: #1c1c1c;
  }

  #archivio {
    background-color: #000;
    color: #fff;
  }

  #archivio tr:nth-child(even){background-color: rgb(27, 27, 27);}

  #archivio tr:hover {background-color: #333;}

  #archivio td, #archivio th {
    border: 1px solid #444;
  }

  .tabordion .labels label {
    background-color: rgb(54, 54, 54);
    color: #fff;
    border-color: #555;
  }

  .labels label:hover {
    background-color: rgb(32, 32, 32);
  }
    
  #footer {
    background-color: #071b33;
  }


  ::selection {
    background: #3f90ee; /* WebKit/Blink Browsers */
    color: #000;
  }

  ::-moz-selection {
    background: #3f90ee; /* Gecko Browsers */
    color: #000;
  }
 
}
