
html,body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: arial, sans-serif;
    font-size: 110%;
}

#ultime-news {
    float:left;
    margin-right: 30px;
    width: 30vw;
}

#onboarding > img {
    max-width: 85%;
    width: 88vh;
    margin-bottom: 10vh;
}

#navbar {
  max-width: calc(410px + 15vh);
  width: 65%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  text-align: center;
}

#navbar img {
  width: 95%;
  padding-bottom: 0.8em;
  opacity: 0.88;
}
#navbar a {
  flex-grow: 1;
  padding: 2em;
  flex-basis: 20px;
}

#ultime-news p {
  line-height: 1.34em;
}


#onboarding {
    background-image:url(background.jpg);
    background-repeat:repeat;
    background-position: center top;

}

#home {
    background-color: #f1f1f1;
}

#home iframe {
    float: left;
    margin-left: 30px;
}

#onboarding {
    justify-content: center; width: 100%;
}


.page {
    padding-top: 5vh;
    padding-bottom: 8vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#footer {
  min-height: calc(15vh - 7rem);
  height: 3rem;
  background-color: #155cac;
  padding-top: 3rem;
  padding-bottom: 4rem;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;

}

#footer > * {
 /* width: calc(30vw + 500px) !important;*/
}


@media screen and (orientation:landscape) { 
  .page {
    padding-bottom: 5vh;
    min-height: 90vh;
  }
}

@media screen and (orientation:portrait) { 
  #archivio {
    min-height: 75vh;
    padding-bottom: 5vh;
  }

  #onboarding > img {
    margin-bottom: 7vh;
  }
}




#navbar a:hover {
  background-color: #ccc;
}




h1 {
    color: #333;
    font-family: arial, sans-serif;
    margin: 1em 0px;
    line-height: 1em;
    vertical-align: middle;

}


.zip {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  margin-left: 1.3em;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 1em;

}

.zip:hover {
  background-color: #2f6431; /* Green */
}



#archivio > * {
  width: calc(30vw + 500px) !important;
}


/* From https://www.w3schools.com/css/css_table.asp */
#archivio table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#archivio table, #archivio td, #archivio tr, #archivio tbody {
  width: 100%;
}



#archivio td, #archivio th {
  border: 1px solid rgb(179, 179, 179);
  padding: 1em;
  width: 100%;
}



#archivio tr:nth-child(even){background-color: #f2f2f2;}

#archivio tr:hover {background-color: #ddd;}

#archivio th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.tabordion {
  color: #333;
  font-family: arial, sans-serif;
  margin: auto;
  width: 80%;
  flex-grow: 1;
}

.tabordion input[name="sections"] {
  position: absolute;
  visibility: hidden;

}

.tabordion section {
  display: block;
  float: right;
}

.tabordion .sections {
  display: block;

  float: right;
}
.tabordion .labels label {
  background: #ccc;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: calc(30vw + 248px);
  padding: 0 0 0 21px;
  float: right;
}

.tabordion .labels {
  float: left;
  width: 180px;
  display: block;
}

.tabordion section article:after {
  background-color: #ccc;
  bottom: 0;
  content: "";
  display: inline-block;
  left:-229px;
  position: relative;
  top: 0;
  width: 220px;
  z-index:1;
  margin-bottom: 70px;
  clear: both;

}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: inline-block;
}


@media (max-width: 533px) {
  

  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

  .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: inline-block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


.labels label:hover {
  background-color: #888;
}



  
  