
.button {
  user-select: none;
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  border-radius: 3px;
  vertical-align: middle;
  line-height: 1em;

}



.download {
  background-color: #993232; /* Green */  
  max-width: 85vw !;
}

@media (hover: hover) {
  .download:hover {
    background-color: #611f1f; /* Green */
  }
}

.download:active {
  background-color: #4b1818; /* Green */
}



.zip {
  background-color: #2d6630; /* Green */
  margin-left: 1.3em;
}
@media (hover: hover) {
  .zip:hover {
    background-color: #173118; /* Green */
  }
}

.zip:active {
  background-color: #0d1d0e; /* Green */
}


.vote {
  background-color: #4267B2; /* Green */
  font-size: 1em;
  float: right;
}
@media (hover: hover) {
  .vote:hover {
    background-color: #263a63; /* Green */
  }
}

.vote:active {
  background-color: #263a63; /* Green */
}

